<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Spring Boot MVC Security using Thymeleaf</title>
      <link rel="stylesheet" href="/css/styles.css"/>
       <link href="/css/resources/css/bootstrap.min.css" rel="stylesheet">
       <!-- Bootstrap -->
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
    rel="stylesheet" />
<!-- Custom style -->
<link href="../static/css/style.css" th:href="@{/css/style.css}"
    rel="stylesheet" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link href="/css/resources/css/common.css" rel="stylesheet">
      
</head>
<body>
   <h3>User Articles Details</h3>
   <div>
	    Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
	    <form th:action="@{/app-logout}" method="POST">
	         <button class="btn btn-primary" value="Logout" type="submit">logout</button>  
	         <button class="btn btn-primary" > <a th:href="'/app/insert'">Thêm bài viết</a></button> 
	    </form>
   </div> <br/>	 
     <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Tiêu Đề</th>
        <th>Danh Mục</th>
        <th>Nội Dung</th>
        <th>link Anh</th>
        <th>Xóa</th>
        <th>Thêm</th>
        
      </tr>
    </thead>
    <tbody>
	      <tr th:each="article : ${userArticles}">
		    <td th:text="${article.articleId}">Id</td>
			<td th:text="${article.title}">Title</td>
			<td th:text="${article.category}">Category</td>
			<td th:text="${article.conttent}">Conttent</td>
			<td th:text="${article.linktai}">Conttent</td>
			<td><a th:href="'/app/Delete?id='+${article.articleId}" > <span class="glyphicon glyphicon-trash"></span></a></td>
			<td><a th:href="'/app/update?id='+${article.articleId}"><span class="glyphicon glyphicon-pencil"></span></a></td>
	      </tr>
	</tbody>
  </table>
	<article th:each="article : ${userArticles}">
	
		<p>
	
		</p>
	</article>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/css/resources/js/bootstrap.min.js"></script>
</body>
</html>   